#contactModal .floating-label {
  font-size: 15pt; }

.fontFine {
  font-size: 11pt; }

/* adjust fonts */
@media only screen and (max-width: 620px) {
  #contactModal .floating-label {
    font-size: 12pt; } }

@media only screen and (max-width: 450px) {
  #contactModal .floating-label {
    font-size: 3.5vw; }
  .fontFine {
    font-size: 9pt; } }

#contactModal.show .overlay {
  display: block; }

#contactModal.show .form {
  transition: top .6s ease-in-out;
  top: 15%; }

#contactModal .overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(17, 17, 17, 0.5);
  z-index: 10000; }

#contactModal .form {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10001;
  display: block;
  width: 60%;
  min-width: 400px;
  margin: 0 auto;
  padding: 3% 2% 3% 3%;
  border: 1px solid black;
  background: whitesmoke;
  color: #333;
  box-shadow: 10px 5px 5px rgba(17, 17, 17, 0.5); }
  #contactModal .form .inputContainer {
    position: relative; }
  #contactModal .form textarea {
    border: 3px #aaa solid;
    border-right: 1px #eee solid; }
  #contactModal .form input, #contactModal .form textarea, #contactModal .form select {
    display: inline;
    width: 90%;
    margin: 0 auto;
    text-indent: 15px;
    border-bottom: 1px solid #ddd;
    color: #333;
    border-radius: 5px;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px; }
  #contactModal .form input::placeholder, #contactModal .form textarea::placeholder {
    color: #999999; }
  #contactModal .form input::-ms-placeholder, #contactModal .form textarea::-ms-placeholder {
    color: #999999; }
  #contactModal .form input::-webkit-placeholder, #contactModal .form textarea::-webkit-placeholder {
    color: #999999; }
  #contactModal .form input[type=number]::-webkit-inner-spin-button,
  #contactModal .form input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  #contactModal .form input[required] ~ span, #contactModal .form textarea[required] ~ span {
    display: none; }
  #contactModal .form input[required]:invalid ~ span, #contactModal .form textarea[required]:invalid ~ span {
    display: inline;
    color: red;
    padding-left: 10px;
    vertical-align: top; }
  #contactModal .form textarea {
    resize: none;
    height: 70px; }
  #contactModal .form .btnContainer {
    height: 40px;
    width: 90%;
    overflow: hidden;
    display: block; }
  #contactModal .form .rplButton {
    margin: 0 auto 25px;
    color: white;
    background-color: teal;
    height: inherit;
    width: 100%;
    font-size: 14pt;
    text-align: center;
    line-height: 40px; }

#contactModal .attention:invalid {
  background-color: #dd3a3a !important; }
  #contactModal .attention:invalid ~ .floating-label {
    background-color: #dd3a3a !important;
    color: white; }
  #contactModal .attention:invalid ~ label {
    color: #dd3a3a !important; }

#contactModal input:focus ~ .floating-label,
#contactModal input:not(:focus):valid ~ .floating-label {
  top: -5px;
  font-size: 10px;
  opacity: 1;
  padding: 0 5px; }

#contactModal .floating-label {
  position: absolute;
  display: inline-block;
  color: #777;
  pointer-events: none;
  left: 20px;
  top: 7px;
  transition: 0.2s ease top, 0.2s ease font-size; }
