.details, .contactBtn {
  font-size: 14pt; }

.contactModal .floating-label {
  font-size: 15pt; }

#header .links ul li a {
  font-size: 18pt; }

.title {
  font-size: 35pt; }

.fontFine {
  font-size: 11pt; }

@media only screen and (max-width: 900px) {
  .title {
    font-size: 28pt; }
  .details, .contactBtn {
    font-size: 12pt; } }

/* adjust fonts */
@media only screen and (max-width: 620px) {
  .contactModal .floating-label {
    font-size: 12pt; }
  .details, .contactBtn {
    font-size: 12pt; } }

@media only screen and (max-width: 450px) {
  .title {
    font-size: 10vw; }
  .contactModal .floating-label {
    font-size: 3.5vw; }
  .details, .contactBtn {
    font-size: 3.5vw; }
  .fontFine {
    font-size: 9pt; }
  #header .links ul li a {
    font-size: 5.5vw; } }

.details, .contactBtn {
  font-size: 14pt; }

.contactModal .floating-label {
  font-size: 15pt; }

#header .links ul li a {
  font-size: 18pt; }

.title {
  font-size: 35pt; }

.fontFine {
  font-size: 11pt; }

@media only screen and (max-width: 900px) {
  .title {
    font-size: 28pt; }
  .details, .contactBtn {
    font-size: 12pt; } }

/* adjust fonts */
@media only screen and (max-width: 620px) {
  .contactModal .floating-label {
    font-size: 12pt; }
  .details, .contactBtn {
    font-size: 12pt; } }

@media only screen and (max-width: 450px) {
  .title {
    font-size: 10vw; }
  .contactModal .floating-label {
    font-size: 3.5vw; }
  .details, .contactBtn {
    font-size: 3.5vw; }
  .fontFine {
    font-size: 9pt; }
  #header .links ul li a {
    font-size: 5.5vw; } }

.contactModal.show .overlay {
  display: block; }

.contactModal.show .form {
  transition: top .6s ease-in-out;
  top: 15%; }

.contactModal .overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(17, 17, 17, 0.5);
  z-index: 10000; }

.contactModal .form {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10001;
  display: block;
  width: 60%;
  min-width: 320px;
  margin: 0 auto;
  padding: 3% 2% 3% 3%;
  border: 1px solid black;
  background: whitesmoke;
  color: #333;
  box-shadow: 10px 5px 5px rgba(17, 17, 17, 0.5); }
  .contactModal .form .inputContainer {
    position: relative; }
  .contactModal .form textarea {
    border: 3px #aaa solid;
    border-right: 1px #eee solid; }
  .contactModal .form input, .contactModal .form textarea, .contactModal .form select {
    display: inline;
    width: 90%;
    margin: 0 auto;
    text-indent: 15px;
    border-bottom: 1px solid #ddd;
    color: #333;
    border-radius: 5px;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px; }
  .contactModal .form input::placeholder, .contactModal .form textarea::placeholder {
    color: #999999; }
  .contactModal .form input::-ms-placeholder, .contactModal .form textarea::-ms-placeholder {
    color: #999999; }
  .contactModal .form input::-webkit-placeholder, .contactModal .form textarea::-webkit-placeholder {
    color: #999999; }
  .contactModal .form input[type=number]::-webkit-inner-spin-button,
  .contactModal .form input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .contactModal .form input[required] ~ span, .contactModal .form textarea[required] ~ span {
    display: none; }
  .contactModal .form input[required]:invalid ~ span, .contactModal .form textarea[required]:invalid ~ span {
    display: inline;
    color: red;
    padding-left: 10px;
    vertical-align: top; }
  .contactModal .form textarea {
    resize: none;
    height: 70px; }
  .contactModal .form .btnContainer {
    height: 40px;
    width: 90%;
    overflow: hidden;
    display: block; }
  .contactModal .form .rplButton {
    margin: 0 auto 25px;
    color: white;
    background-color: teal;
    height: inherit;
    width: 100%;
    font-size: 14pt;
    text-align: center;
    line-height: 40px; }

.contactModal .attention:invalid {
  background-color: #dd3a3a !important; }
  .contactModal .attention:invalid ~ .floating-label {
    background-color: #dd3a3a !important;
    color: white; }
  .contactModal .attention:invalid ~ label {
    color: #dd3a3a !important; }

.contactModal input:focus ~ .floating-label,
.contactModal input:not(:focus):valid ~ .floating-label {
  top: -5px;
  font-size: 10px;
  opacity: 1;
  padding: 0 5px; }

.contactModal .floating-label {
  position: absolute;
  display: inline-block;
  color: #777;
  pointer-events: none;
  left: 20px;
  top: 7px;
  transition: 0.2s ease top, 0.2s ease font-size; }

* {
  box-sizing: border-box; }

.clearfix {
  clear: both; }

body {
  margin: 0; }

.half {
  width: 50%;
  display: inline-block;
  padding: 15px; }

.half {
  width: 60%;
  display: inline-block;
  padding: 15px; }

.centerTxt {
  text-align: center; }

.footer {
  margin-top: 30px;
  padding: 15px;
  color: white;
  background: #323232; }
  .footer .contactDev {
    color: lightseagreen;
    cursor: pointer; }

a.unStyle {
  text-decoration: none;
  color: white; }

#header {
  min-height: 700px;
  color: white;
  position: relative; }
  #header #menu {
    display: none; }
  #header .headerContent {
    min-height: 700px;
    background: rgba(17, 17, 17, 0.3);
    background: linear-gradient(rgba(17, 17, 17, 0.3), rgba(17, 17, 17, 0.6));
    position: relative;
    overflow: hidden;
    box-shadow: 10px 10px 5px rgba(17, 17, 17, 0.5); }
  #header .logo {
    height: 100px;
    position: absolute;
    top: 0px; }
  #header .links {
    height: 100px;
    margin-left: calc(120px + 3%); }
    #header .links ul {
      margin: 0;
      height: 100%;
      padding: 0; }
      #header .links ul li {
        display: inline-block;
        width: 20%;
        height: 100%; }
        #header .links ul li a {
          display: inline-block;
          width: 100%;
          height: 100%;
          text-align: center;
          vertical-align: top;
          padding: 30px 0; }
      #header .links ul a:hover {
        background: rgba(0, 0, 0, 0.5);
        border-bottom: #373737 2px solid; }

@media only screen and (max-width: 900px) {
  .title {
    font-size: 28pt; } }

@media only screen and (max-width: 740px) {
  #header #menu {
    display: block;
    position: absolute;
    right: 20px;
    margin: 20px;
    top: 3%;
    transition: right 1s ease-in-out;
    z-index: 20; }
    #header #menu > span {
      display: block;
      width: 32px;
      height: 4px;
      margin-top: 6px;
      background: #fff;
      transition: .3s ease-in-out;
      box-shadow: 2px 2px rgba(17, 17, 17, 0.5); }
    #header #menu.open {
      position: fixed;
      right: 70%;
      transform: rotate(-45deg); }
      #header #menu.open > span:nth-child(1) {
        -webkit-transform: translateY(7px);
        -ms-transform: translateY(7px);
        transform: translateY(7px); }
      #header #menu.open > span:nth-child(2) {
        opacity: 0; }
      #header #menu.open > span:nth-child(3) {
        -webkit-transform: rotate(-90deg) translateX(13px);
        -ms-transform: rotate(-90deg) translateX(13px);
        transform: rotate(-90deg) translateX(13px); }
  #header .links ul {
    position: fixed;
    display: inline-block;
    transform: translateX(0);
    right: -550px;
    margin: 0;
    padding: 0;
    background: rgba(25, 25, 25, 0.9);
    width: 70%;
    height: 100%;
    z-index: 111;
    transition: ease-in-out transform 1s; }
    #header .links ul.open {
      transform: translateX(-550px); }
    #header .links ul li {
      width: 100%;
      height: unset; }
      #header .links ul li a {
        padding: 15px 30px;
        text-align: right;
        border-bottom: 2px grey solid; } }

#header.header2 {
  min-height: unset;
  background: rgba(50, 50, 50, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 10px 10px 5px rgba(17, 17, 17, 0.5); }
  #header.header2 #menu > span {
    background: whitesmoke;
    transition: .3s ease-in-out; }
  @media only screen and (min-width: 741px) {
    #header.header2 a.unStyle {
      text-shadow: 2px 2px black; } }

* {
  box-sizing: border-box; }

.clearfix {
  clear: both; }

body {
  margin: 0; }

.half {
  width: 50%;
  display: inline-block;
  padding: 15px; }

.half {
  width: 60%;
  display: inline-block;
  padding: 15px; }

.centerTxt {
  text-align: center; }

.footer {
  margin-top: 30px;
  padding: 15px;
  color: white;
  background: #323232; }
  .footer .contactDev {
    color: lightseagreen;
    cursor: pointer; }

body {
  background: black;
  height: 100%;
  font-family: 'Lora', serif;
  color: white;
  margin: 0; }

#header.header2 {
  position: relative;
  background: #141414; }

.content {
  margin-right: 15vw; }

.flexContainer {
  display: flex;
  margin-top: 10px; }

.title {
  padding: 15px;
  margin: 0;
  display: none; }

.detailsTitle {
  margin: 0; }

.detailsDetails {
  display: none; }

.imagesContainer {
  text-align: center;
  width: 55%; }
  .imagesContainer .lSSlideOuter {
    overflow: unset; }
  .imagesContainer .lSSlideWrapper {
    border-radius: 20px;
    box-shadow: 2px 2px 20px white; }
  .imagesContainer #currentImgs .slide {
    padding-bottom: 100%; }
  .imagesContainer .lSGallery {
    margin: 20px auto !important; }
    .imagesContainer .lSGallery .active {
      position: relative;
      text-align: center; }
      .imagesContainer .lSGallery .active:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(160, 160, 160, 0.3); }

.thumbImg {
  padding-bottom: 100%;
  margin: 0 auto; }

.half {
  vertical-align: top; }

.details {
  width: 45%; }
  .details h3 {
    margin: 0; }
  .details .specsHeader {
    font-weight: 600; }

.fixedFooter {
  display: none;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  width: 100%;
  transition: transform .5s;
  transform-origin: bottom; }

#sculptures, #bottomSlide {
  border-top: 1px solid #333;
  background: black;
  transition: transform 1s ease-in-out; }
  #sculptures .slide, #bottomSlide .slide {
    height: 100px;
    width: 15vw;
    position: relative; }
    #sculptures .slide:hover .slideInfo, #bottomSlide .slide:hover .slideInfo {
      display: block; }
    #sculptures .slide .slideInfo, #bottomSlide .slide .slideInfo {
      display: none;
      position: absolute;
      height: 100%;
      width: 100%;
      background: rgba(160, 160, 160, 0.3);
      text-align: center;
      font-size: 10px; }

#fixedSide, #fixedSideRegion {
  position: fixed;
  z-index: 10;
  right: 0;
  top: 0;
  border-left: 1px solid #333; }
  #fixedSide #sideSlide, #fixedSideRegion #sideSlide {
    background: black;
    height: 100%;
    text-align: center; }
    #fixedSide #sideSlide li, #fixedSideRegion #sideSlide li {
      width: unset !important;
      float: unset; }
    #fixedSide #sideSlide img, #fixedSideRegion #sideSlide img {
      max-height: 15vw;
      max-width: 15vw; }

@media only screen and (max-width: 600px) {
  .content {
    margin: 0 0 100px; }
  .flexContainer {
    flex-direction: column; }
  .title, .detailsDetails, .fixedFooter {
    display: block; }
  .detailsTitle, #fixedSide, #fixedSideRegion {
    display: none; }
  .imagesContainer {
    order: 1; }
  .details {
    order: 99; }
  .details, .imagesContainer {
    width: 100%;
    display: block; }
  .contactBtn {
    font-size: 20px !important; } }

.contactBtn {
  margin: 25px 0 15px;
  border-radius: 5px;
  background: rgba(51, 51, 51, 0.7);
  width: 100%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 15px 25px; }
