@import './header.scss';
@import './styles.scss';
@import './print.scss';
@import './about.scss';


body{
    background: black;
    height: 100%;
    font-family: 'Lora', serif;
    color: white;
    margin: 0;
}

#header.header2{
    position: relative;
    background: rgb(20, 20, 20);
}

.content{
   margin-right: 15vw;
}

.flexContainer{
    display: flex;
    margin-top: 10px;
}

.title{
    @extend %fontH2;
    padding: 15px;
    margin: 0;
    display: none;
}

.detailsTitle{
    margin: 0;
}

.detailsDetails{
    display: none;
}

.imagesContainer{
    text-align: center;
    width: 55%;

    .lSSlideOuter{
        overflow: unset;
    }

    .lSSlideWrapper{
        // border: 5px solid #333;
        border-radius: 20px;
        box-shadow: 2px 2px 20px white;
    }
    #currentImgs{
    
        .slide{
           padding-bottom: 100%;
        }
    }

    .lSGallery{
        margin: 20px auto !important;

        .active{
            position: relative;
            text-align: center;
            &:before{
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                background: rgba(160, 160, 160, .3)
            }
        }
    }
}


.thumbImg{
    padding-bottom: 100%;
    margin: 0 auto;
}

.half{
    vertical-align: top;
}

.details{
    @extend %fontDetails;
    width: 45%;
    h3{
        margin: 0;
    }
    .specsHeader{
        font-weight: 600;
    }
}

.fixedFooter{
    display: none;

    position: fixed;
    z-index: 1000;
    bottom: 0;
    width: 100%;
    transition: transform .5s;
    transform-origin: bottom;
    &:hover{
        // transform: scale(2);
    }

}

#bottomSlide{
    display: none;

    .lSSlideWrapper &{
        display: block;
    }

}


#sculptures, #bottomSlide{
    border-top: 1px solid #333;
    background: black;

    transition: transform 1s ease-in-out;

    .slide{
        height: 100px;
        width: 15vw;
        position: relative;

        &:hover{
            .slideInfo{
                display: block;
            }
        }

        .slideInfo{
            display: none;
            position: absolute;
            height: 100%;
            width: 100%;

            background: rgba(160, 160, 160, 0.3);
            text-align: center;
            font-size: 10px;
        }
    }
}

#fixedSide, #fixedSideRegion{
    position: fixed;
    z-index: 10;
    right: 0;
    top: 0;

    border-left: 1px solid #333;

    #sideSlide{
        background: black;
        height: 100%;


        text-align: center;

        li{
            width: unset !important;
            float: unset;
        }

        img{
            max-height: 15vw;
            max-width:  15vw;
        }
    }
}

@media only screen and (max-width: 600px) {
    .content{
        margin: 0 0 100px;
    }

    .flexContainer{
        flex-direction: column;
    }

    .title, .detailsDetails, .fixedFooter{
        display: block;
    }

    .detailsTitle, #fixedSide, #fixedSideRegion{
        display: none;
    }

    .imagesContainer{
        order: 1;
    }

    .details{
        order: 99;
    }

    .details, .imagesContainer{
        width: 100%;
        display: block;
    }

    .contactBtn{
        font-size: 20px !important;
    }
}



.contactBtn{
    @extend %fontDetails;
    margin: 25px 0 15px;

    border-radius: 5px;
    background: rgba(51, 51, 51, .7);
    width: 100%;

    display: inline-block;
    text-align: center;
    cursor: pointer;

    padding: 15px 25px;
}

#about{
    display: none;
    text-align: center;
}