#printImageRegion{
    display: none;
    text-align: center;
    page-break-after: always;

    ul{
        list-style: none;;
    }

    li:not(:first-child) img{
        margin-top: 7.5vh;
    }

    img{
        max-height: 85vh;
        max-width: 95vw;
    }
}

#detailsRegion{
    page-break-after: always;
}




@media print{

    @page{
        size: auto;
        margin: 35px 15px 15px;
    }

    body{
        color: black !important;
        margin: 15px !important;
    }
    #contactModal, #header, #fixedBottomRegion, #fixedSideRegion, #bottomSlide, #sideSlide, .contactBtn, #imageContainerRegion{
        display: none !important; 
    }

    #printImageRegion, #about, #detailsTitle{
        display: block !important;
    }

    .content{
        margin: 0 0 100px !important;
    }

    .flexContainer{
        display: block !important;
    }

    .title, .detailsDetails{
        display: block !important;
    }

    .detailsTitle{
        display: none !important;
    }

    .details, .imagesContainer{
        width: 100% !important;
        display: block !important;
    }

}